@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Kanit:wght@300&family=Rubik+Bubbles&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Kanit:wght@300&display=swap');
:root {
	--main-blue-color: #2c6dac;
	--main-blue-opaco-color: #2c6dacaa;
	--main-orange-color: #f9a223;
	--main-black-color: #1a1a1a;
	--main-black-opaco-color: #1a1a1a55;
	--main-white-color: #fefefe;
	--main-white-color-: #fefefe;
	--main-grey-color: #9b9b9b;
	--main-beige-color: #f8f8d9;

	--size-card-width: 340px;
	--size-card-height: 600px;
}

.site-header {
	position: fixed;
	width: 100%;
	opacity: 0.9;
	top: 0;
	background-color: #2c6dac;
	padding: 10px 30px;
}

.header_logo {
	height: 40px;
}

.header-inner {
	width: 70vw;
	justify-content: space-between;
}

.redes-nav {
	color: white;
	font-size: 2em;
	align-self: center;
}

* {
	margin: 0;
	padding: 0;
	line-height: normal;
}

h1,
h2,
h3,
h4 {
	font-family: 'Kanit', sans-serif;
	font-weight: bolder;
	font-size: 1em;
}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1em;
}

section {
	width: 100vw;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3em;
	& h1.titulo {
		color: #2c6dac;
		font-size: 4em;
		text-align: center;
	}
}

.tarjetas {
	display: flex;
	width: 85vw;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;

	& .tarjeta {
		background-color: #ffffffcc;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		width: 340px;
		height: 600px;
		padding: 1em;
		border-radius: 0.5em;
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.612);

		& .titulo {
			color: black;
			font-size: 1.5em;
			height: 12%;
		}

		& .texto {
			text-align: justify;
			font-size: 1.5em;
		}

		& .icono {
			width: 170px;
			height: 170px;
			margin-top: 30px;
			transition: 0.5s;
		}

		& .icono:hover {
			transform: scale(1.1);
		}
	}
}

.paraQuien_respuesta,
.Subtitulo {
	text-align: center;
	font-size: 1.8em;
	color: black;
	width: 85vw;
}

.comoLogrado {
	width: 100vw;
	height: 60vh;
	background: no-repeat center/100%
		url('wp-content/uploads/2023/12/alcanzando-una-meta1.jpg');
	margin-bottom: 200px;

	& .container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		height: 100%;
		justify-content: space-between;

		& .titulo {
			color: white;
			text-align: start;
			align-self: flex-start;
			padding: 40px;
		}

		& .tarjetas {
			width: 70vw;
			display: flex;
			align-items: center;
			gap: 50px;

			& .tarjeta {
				transform: translateY(100px);
				background-color: #ffffffcc;
				color: var(--main-grey-color);
				font-size: 1.5em;
				text-align: center;
				width: 300px;
				height: 260px;
				align-self: end;
				justify-content: center;
			}
		}
	}
}

.revActividades {
	background-image: linear-gradient(#0006, #0002),
		url('wp-content/uploads/2023/12/grupotrabajando.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	padding-top: 30px;

	& .Subtitulo,
	& .titulo {
		color: white;
	}

	& .tarjeta {
		margin-bottom: 50px;
		height: 630px;

		& .titulo {
			color: black;
		}
	}
}

.testimonios {
	& .tarjetas {
		width: 70vw;
		display: flex;
		align-items: center;
		gap: 50px;

		& .tarjeta {
			height: 600px;
			display: flex;
			justify-content: space-between;
			border: 1px solid #2c6dac;
			box-shadow: 5px 5px 15px #2c6dac;

			& .icono {
				width: 100%;
				margin-bottom: 1em;
			}

			& .nombreFirma {
				color: #f9a223;
				font-weight: bolder;
				margin-bottom: 10px;
			}

			& .nombres {
				text-align: center;
				margin-bottom: 20px;
			}

			& h4 {
				font-size: 1em;
				color: #aaaaaa;
			}

			& span {
				font-size: 1em;
				font-weight: bold;
			}
		}
	}
}

footer {
	width: 100vw;
	background-color: #2c6dac;
	padding-top: 2vh;
	& .inicial {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		& .contacto {
			font-size: 2vw;
			color: white;
			display: flex;
			flex-direction: column;
			gap: 1vw;
			align-items: start;
			width: 30vw;
			margin: 0;
			align-items: center;

			& div {
				display: flex;
				gap: 2vw;
				align-items: center;
				justify-items: start;
				position: initial;
			}
		}

		& .sellos {
			display: flex;
			flex-direction: row;
			width: 30vw;
			justify-content: center;
			margin: 0;

			& .icono {
				height: 5vw;
			}

			& .SelloCalidad {
				height: 8vw;
			}
		}

		& .redes {
			margin: 0;
			display: flex;
			flex-direction: row;
			gap: 1vw;
			font-size: 3vw;
			width: 31vw;
			justify-content: center;

			& .icono {
				color: white;
			}
		}
	}

	& .Copyright {
		display: flex;
		justify-content: center;
		text-align: center;
		color: var(--main-orange-color);
		padding: 20px 0px;
	}
}

.contactanos {
	margin-bottom: 40px;

	& label {
		width: 100%;
	}

	& input[type='text'] {
		background-color: #fff;
		color: #000;
	}

	& input {
		height: 2em;
	}

	& .wpcf7 {
		width: 500px;
		padding: 2em;
		background-color: var(--main-beige-color);
		border-radius: 15px;
		box-shadow: 5px 5px 5px var(--main-grey-color);
	}

	.enviar {
		background-color: var(--main-blue-color);
		color: var(--main-white-color);
		border: 1px var(--main-blue-color);
	}

	.inMensaje {
		height: 6em;
	}
}

.ls-center {
	display: flex;
	flex-direction: column;
	width: min-content;
	gap: 10px;
	display: none;

	& .ls-buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 0.25em;

		& .ls-button {
			width: 40px;
			height: 40px;
		}

		& .ls-button-dir,
		button {
			display: flex;
			width: 60px;
			font-size: 1.81em;
			align-items: center;
			justify-content: center;
			color: var(--main-grey-color);
			border: 1px solid var(--main-black-opaco-color);
			border-radius: 5px;
		}

		& button:hover {
			background-color: var(--main-blue-opaco-color);
			border: 1px solid var(--main-blue-color);
			color: var(--main-beige-color);
		}

		& .ls-red {
			background-color: var(--main-beige-color);
		}
	}
}

@media (max-width: 1500px) {
	.ls-center {
		display: flex;
	}
}

@media (max-width: 767px) {
	.redes-nav {
		font-size: 1.5em;
	}
}

@media (max-width: 575px) {
	.redes-nav {
		font-size: 1em;
	}
}
